<div class="card-body">
    <div class="row">
        
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-4">
                    <input hidden class="LandContractCode form-control form-control-sm triggerdetail" type="text"  >
                </div>   
        <div class="col-md-12">
            <div class="row">
                <div class="card-body">
                        <table id="tbl_PaymentSched" class="table table-bordered table-striped table-sm" style="width:100%" data-editpage="pages/masterdata/modalpages/area_update" data-addpage="pages/masterdata/modalpages/area_add" >
                            <thead>
                                <tr style="text-align:center">
                                    <!-- <th hidden class="id">Term</th> -->
                                    <th class="Payment_date">Payment Schedule</th>
                                    <th class="remarks">Status</th>
                                    <th class="amount">Rate/Amount</th>
                                     <th class="Cv_num">Check Voucher Number</th>
                                      <th class="Cr_num">CR number</th>
                                      <th class="Posting_date">Date Posted</th>
                                      
                                </tr>
                            </thead>
                            <tbody id="tbl_Users-data">
                            </tbody>
                        </table>
                    </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="row">
                   <button type="button" style="margin:2px;" class="btn btn-success" onclick="saveupdateddata()"> Save</button>
                   <!-- <button type="button" style="margin:2px;" class="btn btn-success" onclick="updatetable()"> Edit</button> -->
                   <!-- <button type="button" style="margin:2px;" class="btn btn-success" onclick="updatetable()">Exit</button> -->
            </div>
        </div>
         

    </div>
</div>
<script>
    var dataSource = 'ContractMain';
    var dataSourceIdCol = 'LandContractCode';
    initDataTablesPaymentSched();
    getSysData(dataSource, dataSourceIdCol);
    getPaymentSched();
//   $('#Posting_date').val(formattedDate)
     function initDataTablesPaymentSched() {
        var table = $('#tbl_PaymentSched').DataTable({
            language: {
                sSearch: "",
                searchPlaceholder: "Search records"
            },
            selected: true,
            paging: false,
            lengthChange: false,
            searching: false,
            ordering: true,
            info: false,
            autoWidth: false,
            responsive: true,
            lengthMenu: [
                [10, 25, 50, 100],
                ['10 rows', '25 rows', '50 rows', '100 rows']
            ],

        }).buttons().container().appendTo('#tbl_PaymentSched' + '_wrapper .col-md-6:eq(0)');
        $('#tbl_PaymentSched' + '_paginate').css('font-size', 'smaller').css('float', 'right');
        $('#tbl_PaymentSched' + '_filter').css('float', 'right');
    }
    function getPaymentSched()
    {
          var headcol = $('#tbl_PaymentSched'  + ' thead tr th');
    var colid = [];
    for (var x in headcol) {
        if (headcol[x].className != undefined) {
            var y = headcol[x].className.split(' ');
            colid.push(y[0]);
        }
    }
        console.log($('.selectedid').data('id'));
         $.ajax({
                url: apiURL('c2673537-85cf-4a28-9cbc-5dad26d9c4a9') + 'FMSmain/getGeneratedSchedule',
                type: 'post',
                dataType: 'json',
                data: JSON.stringify({
                    LandContractCode:$('.selectedid').data('id'),
                    username: $("#username").val(),
                    token: $("#token").val(),
                    sysapp: sysapp
                }),
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    console.log(data);
                    var tablerow = [];
            $('#tbl_PaymentSched').DataTable().clear().draw();
            for (var i in data) {
                    var tablearr = [];
                    // tablearr.push(data[i].id);
                    // tablearr.push('<input type="text" style="width: 100%;border:1px;" hidden  class="date updatedcell " data-rowid="' + data[i].id + '" data-colid="Payment_date" value="' + moment(data[i].Payment_date ).format('MM/DD/YYYY') + '">');
                    tablearr.push('<input type="text" disabled style="width: 100%;border:1px; background-color:#eaeaea;"  class="date_end  form-control form-control-sm updatedcell " data-rowid="' + data[i].id + '" data-colid="Payment_date_end" data-payment_date="'+ data[i].Payment_date + '" value="' + data[i].date_of_payment + '">');
                    // tablearr.push('<input type="text" style="width: 100%;border:1px; background-color:#D6DBDF;" id="amountNew" class="amount updatedcell " data-rowid="' + data[i].id + '" data-colid="remarks" value="' + data[i].remarks + '">');
                   tablearr.push('<select style="border:1px; background-color:#eaeaea;" class="remarks form-control form-control-sm"><option disabled selected value="'+data[i].remarks+'">'+data[i].remarks+'</option><option value="Paid">Paid</option><option value="UnPaid">UnPaid</option></select>');
                    console.log(data[i].remarks == 'Paid');
                    if(data[i].remarks == 'Paid')
                    {
                       tablearr.push('<input type="number" disabled style="width: 100%;border:1px; background-color:#eaeaea; " id="amountNew" class="amount updatedcell " data-rowid="' + data[i].id + '" data-colid="amount" value="' + data[i].Amount + '">');     
                    }
                    else 
                    {
                        tablearr.push('<input type="number" disabled style="width: 100%;border:1px;  background-color:#eaeaea;" id="amountNew" class="amount form-control form-control-sm updatedcell unpaid" data-rowid="' + data[i].id + '" data-colid="amount" value="' + data[i].Amount + '">');
                    }
                    tablearr.push('<input type="number"  style="width: 100%; height:100%;border:1px; background-color:#D6DBDF;" id="Cv_num" class="cv  form-control form-control-sm updatedcell" data-rowid="' + data[i].id + '" data-colid="Cv_num" value="">');
                    // tablearr.push(data[i].Cv_num);
                    // tablearr.push(data[i].Cr_num);
                    tablearr.push('<input type="number"  style="width: 100%; height:100%;border:1px; background-color:#D6DBDF;" id="Cr_num" class="cr form-control form-control-sm updatedcell" data-rowid="' + data[i].id + '" data-colid="Cr_num" value="">');
                    tablearr.push('<input type="date"  style="width: 100%; height:100%;border:1px; background-color:#D6DBDF;" id="Posting_date" class="datepost form-control form-control-sm updatedcell" data-rowid="' + data[i].id + '" data-colid="Posting_date" >');
                    
                    tablearr.push(data[i].Posting_date);
                    // tablearr.push('<input type="text" style="width: 100%;border:1px;" disabled  class="status updatedcell " data-rowid="' + data[i].id + '" data-colid="status" value="' + data[i].status + '">');
                    
                    tablerow.push(tablearr);
                }
            $('#tbl_PaymentSched').DataTable().rows.add(tablerow).draw();
                    
                }
            })
    }
</script>